<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.app2" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Count People</name>
    <description>
        The Count People app is to count people in meeting. 
    </description>
    <preference name="iosPersistentFileLocation" value="Library" />
    <plugin name="cordova-plugin-file" spec="^5.0.0"/>
    <icon src="resources/icon.png" />
</widget>